*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Inter Font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

body {
  width: 100%;
  min-height: 100vh;
}